       /*  ---  General  ---  */
       @font-face {
           font-family: 'DynaPuff';
           src: url('font/DynaPuff-Regular.ttf') format('truetype');
       }

       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
           font-family: 'DynaPuff', cursive;
       }

       section {
           display: flex;
       }

       a {
           text-decoration: none;
           color: inherit;
       }

       body {
           background-color: #dbf3ff;
       }

       /*  ---  Header  ---  */
       header {
           top: 0;
           height: 80px;
           position: fixed;
           width: 100%;
           display: flex;
           background-color: #97ebb7;
           padding: 30px 5vw;
           align-items: center;
           justify-content: space-around;
           border-radius: 0 0 10px 10px;
           box-shadow: 0 2px 5px #00000020;
           box-sizing: auto;
       }

       #inicio {
           display: flex;
           align-items: center;
           gap: 10px;
       }

       #icono {
           display: flex;
           align-items: center;
           gap: 10px;
       }

       #icono img {
           height: 50px;
           width: auto;
       }

       nav {
           justify-content: center;
           align-items: center;
           padding: 5px 10px;
           margin-right: 20px;
       }

       nav:hover h3 {
           text-decoration: underline;
       }

       nav:hover #indice {
           visibility: visible;
       }

       #indice {
           position: fixed;
           list-style: none;
           padding-top: 20px;
           padding: 8px 10px;
           background-color: #000000D0;
           border-radius: 10px;
           visibility: hidden;
           transform: translateX(-30%);
       }

       #indice a {
           color: white;
           text-decoration: none;
       }

       #indice a:hover {
           color: white;
           text-shadow: white 0 0 20px;
       }

       /*  ---  Main  ---  */
       main {
           display: flex;
           flex-direction: column;
           margin-top: 90px;
           margin-bottom: 20px;
           gap: 20px;
           padding: 20px 40px;
           border-radius: 20px;
       }

       #cuerpo {
           padding: 15px 40px 0 0px;
       }

       #presentacion {
           display: flex;
           gap: 40px;
           padding: 20px;
           align-items: center;
           background-color: lightblue;
           border-radius: 20px;
           margin-bottom: 50px;
           box-shadow: 0 2px 6px #00000035;
       }

       #presentacion img {
           width: 400px;
           height: auto;
           border-radius: 20px;
       }

       .contenedor h4 {
           text-align: center;
           margin-bottom: 30px;
       }

       #tarjetas {
           padding: 10px;
           display: flex;
           align-items: center;
           justify-content: center;
           gap: 15%;
           margin-bottom: 20px;
       }

       .tarjeta {
           width: 250px;
           height: 400px;
           background-color: #e2afff36;
           text-align: center;
           border-radius: 60px;
           transform-style: preserve-3d;
           perspective: 1000px;
           transition: transform 2s ease-out;
       }

       .tarjeta:hover {
           transform: rotateY(180deg);
       }


       .tarjetaF,
       .tarjetaB {
           border: 2px solid black;
           position: absolute;
           width: 250px;
           height: 400px;
           backface-visibility: hidden;
           border-radius: 60px;
           box-shadow: 4px 7px 8px #00000030;
       }

       .tarjetaF {
           display: flex;
           align-items: center;
           justify-content: center;
           color: white;
           text-shadow: black 1px 1px 3px, black -1px -1px 3px;
       }

       .tarjeta:nth-child(1) .tarjetaF {
           background-image: url(../images/alm_objetivos.png);
           background-size: cover;
           background-position: center;
       }

       .tarjeta:nth-child(2) .tarjetaF {
           background-image: url(../images/alm_compromiso.png);
           background-size: cover;
           background-position: center;
       }

       .tarjeta:nth-child(3) .tarjetaF {
           background-image: url(../images/alm_ilusion.png);
           background-size: cover;
           background-position: center;
       }

       .tarjetaB {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           transform: rotateY(180deg);
           padding: 0px 20px;
       }

       .tarjetaB p {
           margin-top: 10px;
           text-align: center;
       }

       /*  ---  Lateral  ---  */
       #lateral {
           display: flex;
           flex-direction: column;
           text-align: center;
           justify-content: space-around;
           width: 420px;
           margin-top: 20px;
           padding: 100px 20px;
           background-color: #f1d9bd;
           border-radius: 15px 5px 5px 15px;
           border-top: 1px solid #00000050;
           border-left: 3px solid #00000050;
           box-shadow: 2px 4px 10px #00000055;
       }

       #lateral div img {
           border: black 3px solid;
           box-shadow: 5px 5px 2px #a78200;
           border-radius: 30px;
           width: 200px;
           height: 200px;
           margin-top: 10px;
       }

       .contenedor-texto {
           align-items: center;
           background-color: #29f30027;
           padding: 20px 60px;
           border-radius: 15px;
           border: 1px solid #135e04b0;
           box-shadow: 3px 3px 2px #044d31A0, 5px 7px 6px #00000095;
       }

       /*  ---  Footer  ---  */
       footer {
           border-top: #ffffffe0 2px solid;
           padding: 20px;
           background-color: #2C3E50;
           color: white;
           text-align: center;
       }